        .navbar button {
            display: inline-block;
        }
        
        .nav-align {
            align-items: baseline;
        }
        
        .nav-content {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        
        .navbar-collapse {
            height: 0px;
            overflow: hidden;
            transition: height ease-in 300ms;
        }
        
        .navbar ul {
            display: block;
        }
        
        .navbar-collapse.show {
            max-height: 350px;
            transition: max-height ease-out 500ms;
        }
        
        .navbar .nav-link {
            font-size: 20px;
        }
        
        .container {
            max-width: 740px;
        }
        
        #showcase {
            height: 100%;
            color: #2a2a8d
        }
        
        #what .items {
            display: block;
            padding: 1rem;
        }
        
        #what .items .item {
            display: flex;
            text-align: left;
        }
        
        #what .items .item i {
            margin-right: 1.3rem;
            align-self: center;
            margin-bottom: 0;
        }
        
        .picture-grid {
            display: grid;
            min-height: 500px;
            background: #fff;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: "one four" "three six" "five two";
            grid-gap: 5px;
            border: 3px solid black;
            outline: none;
        }
        
        #about-info .info-right,
        #about-info .info-left {
            float: none;
            width: 100%;
        }
        
        #about-info .info-right {
            margin-top: 30px;
        }
        
        .skill-list ul li div {
            /*width: 180px;*/
            width: calc(100vw - 95px);
        }
        
        .skill-list ul li:nth-child(even) div {
            left: 40px;
        }
        
        .skill-list ul li {
            margin-left: 20px;
        }
        
        .skill-list ul li:nth-child(even) div:before {
            left: -15px;
            border-width: 8px 16px 8px 0;
            border-color: transparent #444 transparent transparent;
        }
        
        #project-list {
            display: flex;
            justify-content: flex-end;
            align-items: left;
        }
        
        .project,
        img {
            background: #ffffff;
            padding: 1rem;
            margin: 0.5rem;
            height: 100%;
            width: 100%;
            padding: 20px;
        }
        
        .social-list,
        .social-list a {
            float: none;
        }
        
        #main-footer {
            height: 100%;
        }