@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    line-height: 1.6;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

a,
a:hover,
a:active,
button {
    outline: none;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}


/* Navbar section*/

.navbar {
    background-color: #333;
    padding: 15px 0px;
    box-shadow: 0 3px 4px 1px rgba(65, 64, 64, 0.2);
}

.nav-align {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.navbar button {
    display: none;
}


/* Hamburger Start */

.hamburger {
    margin: 0;
    border: 0;
    background-color: transparent;
    position: relative;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner,
.hamburger-inner:before,
.hamburger-inner:after {
    width: 40px;
    height: 3px;
    background-color: #ffffff;
    display: block;
    border-radius: 2px;
    position: absolute;
}

.hamburger-inner {
    top: 50%;
}

.hamburger-inner:before {
    content: "";
    top: -10px;
}

.hamburger-inner::after {
    content: "";
    bottom: -10px;
}

.hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}


/*Navbar*/

.navbar ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    align-items: center;
    transition: all ease-in 200ms;
}

.navbar .logo {
    font-weight: bold;
    font-size: 3em;
    padding: 0;
    margin-right: auto;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.navbar a {
    color: white;
    white-space: nowrap;
}

.nav-item:not(:last-of-type) {
    margin-right: 30px;
}

.navbar .nav-item {
    transition: all ease-in 300ms;
    border-radius: 5px;
    padding: 5px 10px;
}

.navbar .nav-item:hover {
    background-color: #46d829;
    transition: all ease-out 300ms;
}

.navbar .nav-item:active,
.nav-item:focus .current {
    color: #32ff09;
    background-color: #51db1a;
    /* transition: all ease-out 200ms; */
}

@media (max-width: 425px) {
    .container {
        max-width: 100%;
    }
}


/* Utilities*/

h1,
h2,
h3 {
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.5rem;
}

h5 {
    color: grey;
    font-size: 2rem;
}

p {
    margin: 10px 0;
    color: black;
    font-size: 1.5em;
    line-height: 1.2em;
}

p span {
    font-size: 2.5rem;
    color: black;
    text-align: center;
}

.contact-info-phone {
    color: black;
}

.name-content {
    color: #fff;
    font-size: 3.5rem;
    padding: 0.5rem;
}

.container {
    margin: auto;
    max-width: auto;
    overflow: hidden;
    padding: 0 20px;
}

.text-center {
    text-align: center;
}

.text-primary {
    margin: auto;
    color: yellowgreen;
}

.lead {
    color: #fff;
    font-size: 1.4em;
    margin-bottom: 2rem;
}

.bg-light {
    background: grey;
    color: #333;
}

.bg-primary {
    background: #f7c08a;
    color: #333;
}

.l-heading {
    color: yellowgreen;
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.2;
}

.m-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.2;
}

.py-1 {
    padding: 1.5rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.py-3 {
    padding: 3rem 0;
}


/* button section*/

.btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: greenyellow;
    padding: 13px 20px;
    border: none;
    border-radius: 25px;
    outline: none;
}

.btn:hover {
    background: #f7c08a;
    color: #333;
}


/* Home section*/

span.text-primary {
    font-size: 60px;
    line-height: 1.2em;
}

#showcase {
    background: url("../images/pexels-neo-2653362.jpg") no-repeat center center/cover;
    height: 600px;
    text-align: center;
    padding-top: 170px;
    background-color: #333;
}

#showcase.showcase-content {
    color: #fff;
    text-align: center;
    padding-top: 170px;
}

#showcase.showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em;
}


/* What i do*/

#what .items {
    display: flex;
    padding: 1rem;
}

#what .items .item {
    flex: 1;
    text-align: center;
    padding: 1rem;
}

#what .items .item i {
    background-color: greenyellow;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}


/* Stats*/

.info {
    display: flex;
    justify-content: center;
}

.info-card {
    background: #fff;
    border: #ccc 2px solid;
    text-align: center;
    width: auto;
}

.info-card ul {
    list-style-type: square;
}

.info-card ul li {
    padding: 0.2rem;
}


/* Testimonies*/

.testimony1 {
    padding: 1.5rem;
    font-size: 1rem;
    text-align: center;
    width: 60%;
    margin-left: 100px;
}

.testimony {
    float: center;
    padding: 1.5rem;
    font-size: 1rem;
    text-align: center;
    width: 60%;
    margin-left: 100px;
}


/*Moments Picture Grid*/

.moments {
    width: 100%;
    height: 100%;
    color: var(--text-color);
    padding: 2%;
    background: var(--nav-bg-color);
    transition: all ease-in 0.5s;
}

.moments h2 {
    text-align: center;
    padding: 2%;
    font-size: 30px;
}

.moments p {
    text-align: center;
    font-size: 1rem;
}

.picture-grid {
    display: grid;
    min-height: 500px;
    background: black;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "one two five" "one three five" "four three six";
    grid-gap: 5px;
    border: 3px solid black;
    outline: none;
}

.picture-1 {
    background: url("https://res.cloudinary.com/dh9ulafxd/image/upload/v1598772730/portfolio/IMG_20200821_115023_372_mc8ewd.jpg");
    background-position: center;
    background-size: cover;
    grid-area: one;
}

.picture-2 {
    background: url("https://res.cloudinary.com/dh9ulafxd/image/upload/v1598771929/portfolio/7_hqfam3.jpg");
    background-position: center;
    background-size: cover;
    grid-area: two;
}

.picture-3 {
    background: url("https://res.cloudinary.com/dh9ulafxd/image/upload/v1598771913/portfolio/3_q8glzq.jpg");
    background-position: center;
    background-size: cover;
    grid-area: three;
}

.picture-4 {
    background: url("https://res.cloudinary.com/rolteame/image/upload/v1598751650/myportfolio%20assets/IMG-20200821-WA0053_heu6hn.jpg");
    background-position: center;
    background-size: cover;
    grid-area: six;
}

.picture-5 {
    background: url("https://res.cloudinary.com/dh9ulafxd/image/upload/v1598771914/portfolio/6_ewlkop.jpg");
    background-position: center;
    background-size: cover;
    grid-area: four;
}

.picture-6 {
    background: url("https://res.cloudinary.com/rolteame/image/upload/v1598751650/myportfolio%20assets/IMG-20200821-WA0034_enug9x.jpg");
    background-position: center;
    background-size: cover;
    grid-area: five;
}

.moment {
    color: yellowgreen;
    font-size: 3rem;
}


/* About section*/

#about-info .info-right {
    float: right;
    width: 50%;
    min-height: 100%;
}

#about-info .info-right img {
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 10%;
}

#about-info .info-left {
    float: right;
    width: 50%;
    min-height: 100%;
}


/*Skills section*/

#skills {
    text-align: center;
    background: #f4f4f4;
}

.skill-list ul li {
    list-style: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    color: #444;
    font-size: 2.3rem;
    padding-top: 50px;
    background: yellowgreen;
}


/*Skill Box*/

.skill-list ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    height: 200px;
    padding: 1rem;
    background: #444;
    transition: all 0.5 ease-in-out;
    visibility: hidden;
    opacity: 0;
}


/*Right side*/

.skill-list ul li:nth-child(odd) div {
    left: 40px;
    transform: translate(200px, 0);
}


/* Left side*/

.skill-list ul li:nth-child(even) div {
    left: -434px;
    transform: translate(-200px, 0);
}


/*Dot section*/

.skill-list ul li:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 25px;
    height: 23px;
    background: inherit;
    transform: translateX(-50%);
    border-radius: 50%;
    transition: background 0.5s ease-in-out;
}


/* Arrow for dot*/

.skill-list div:before {
    content: "";
    position: absolute;
    bottom: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    color: #444;
}


/*Right arrow*/

.skill-list ul li:nth-child(odd) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #444 transparent transparent;
}


/* Left arrow*/

.skill-list ul li:nth-child(even) div:before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #444;
}

.skill-list ul li.show div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

.skill-list ul li.show:after {
    background-color: #444;
}

.avatar {
    width: 200px;
    border-radius: 30%;
}


/* Contact section*/

#contact-form {
    background: white;
    height: auto;
    padding: 20px;
}

#contact-form .form-group {
    margin-bottom: 20px;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
    width: 90%;
    padding: 10px;
    border: 1px #ddd solid;
    border-radius: 30px;
}

#contact-form input:focus,
#contact-form textarea {
    outline: none;
}


/*Project Section*/

#project p {
    font-size: 1.5rem;
    text-align: center;
    color: black;
}

#project h1 {
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.project,
img {
    background: #ffffff;
    padding: 1rem;
    margin: 0.5rem;
    height: 100%;
    width: 500px;
    padding: 20px;
}

.project ul li {
    list-style: none;
    font-size: 1.0em;
}

.project li a {
    color: green;
}

.project li a:hover {
    color: blue;
}

#project-list-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.project-step2 {
    background: rgb(77, 77, 223);
    border: #ccc solid 1px;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    width: 600px;
    height: 300px;
}

.project-4 {
    background: white;
    border: none;
    text-align: left;
}

.project-step ul li {
    list-style: none;
    font-size: 1.4em;
}

.project-step2 ul li {
    list-style: none;
    font-size: 1.4em;
}


/* Social link*/

.social-list,
.social-list a {
    color: white;
    float: left;
    padding: 10px;
}


/* Subscribe Section*/

div.subscribe-form input {
    width: 25%;
    height: 45px;
    padding: 10px;
    border: 1px #ddd solid;
    border-radius: 30px;
    outline: none;
}

.news-letter {
    margin-right: 10%;
    margin-bottom: 2px;
}


/*  Footer section*/

#main-footer {
    height: 100%;
    text-align: center;
    background: #444;
    color: #fff;
    padding: 20px;
}